body {
  min-width: 350px;
}

.full-logo-container {
  max-width: 300px;
  min-width: 200px;
}

.small-logo-container {
  max-width: 80px;
  min-width: 50px;
}

.logo-container img {
  width: 100%;
  height: auto;
  display: block;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.btn-icon img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  display: block;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
