<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="container-fluid p-0 m-0 h-100" style="min-height: 100vh">
    <div
      class="d-flex flex-column justify-content-center"
      style="min-height: 100vh"
    >
      <main
        style="flex: 1"
        class="d-flex flex-column justify-content-center align-items-center p-3"
      >
        <div
          class="container col-11 col-sm-9 col-md-7 col-lg-5 col-xxl-3 mt-3 mb-3 d-flex justify-content-center"
        >
          <img src="/public/img/404.svg" alt="404" class="img-fluid" />
        </div>
        <p class="mt-3">
          <strong>
            Página não encontrada, <a href="/">clique aqui</a> para voltar a
            página inicial.
          </strong>
        </p>
      </main>
    </div>
  </body>
</html>
