<footer class="footer text-center text-lg-start" style="background-color: #e363aa; color: #ffffff">
  <!-- <div class="footer-top" style="background-color: #d55497; padding: 20px 0">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-center mb-3">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Brasao_ufc.svg"
              alt="Logo UFC"
              class="img-fluid me-2"
              style="max-width: 75px"
            />
            <h3 class="mb-0">UFC</h3>
          </div>
          <p>
            "Queue Underflow" é um guia de perguntas desenvolvido por estudantes da Universidade
            Federal do Ceará, projetado para auxiliar no aprendizado e aplicação de conceitos de
            estrutura de dados de forma prática e interativa.
          </p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h5>Endereço</h5>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15926.12353521402!2d-40.3549216!3d-3.6935704!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7eac6fb552c0d43%3A0x655948203c72307a!2sUFC%20%E2%80%93%20Campus%20de%20Sobral%20da%20Universidade%20Federal%20do%20Cear%C3%A1%20(Mucambinho)!5e0!3m2!1spt-BR!2sbr!4v1722711684271!5m2!1spt-BR!2sbr"
            class="w-100 mb-3"
            style="border: 0; height: 200px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <p>Rua Estudante José Romano de Santana, 207 - Centro, Sobral - CE, 62010-560</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li>
              <a
                href="https://www.linkedin.com/in/marcos-vinicius"
                class="text-white text-decoration-none"
                >Marcos Vinicius</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/izaias-machado"
                class="text-white text-decoration-none"
                >Izaias Machado</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/gabriel" class="text-white text-decoration-none"
                >Gabriel</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/william" class="text-white text-decoration-none"
                >William</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/yann-lucca"
                class="text-white text-decoration-none"
                >Yann Lucca</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer-bottom" style="background-color: #c94584; padding: 10px 0">
    <div class="text-center">
      &copy; <strong>Queue Underflow</strong>. Todos os direitos reservados.
    </div>
  </div>
</footer>
