<div class="py-3 py-md-4 py-xl-5">
  <div class="container">
    <div class="row g-3 align-items-center">
      <div class="col-12">
        <div class="copyright-wrapper d-block mb-1 fs-8 text-center">
          &copy; Copyright <strong>QueueUnderflow</strong>. Todos os direitos
          reservados.
        </div>
        <div
          class="credits text-secondary text-center mt-2 fs-8 d-none d-md-block"
        >
          Código fonte disponível no
          <a
            href="https://github.com/izaiasmachado/guia-de-perguntas"
            class="link-secondary"
            >GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
