<form class="d-flex gap-2" role="search" action="/" method="get">
  <input
    class="form-control"
    type="search"
    name="search"
    placeholder="Pesquisa"
    aria-label="Pesquisa"
    value="<%= typeof search !== 'undefined' ? search : '' %>"
  />
  <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>
