<form class="d-flex gap-2" role="search" action="/" method="get">
  <input
    class="form-control"
    type="search"
    name="search"
    placeholder="Pesquisa"
    aria-label="Pesquisa"
    value="<%= typeof search !== 'undefined' ? search : '' %>"
  />
  <button
    class="btn"
    type="submit"
    style="background-color: white; border-color: #e363aa; color: #e363aa"
    onmouseover="this.style.backgroundColor='#E363AA';this.style.color='white';"
    onmouseout="this.style.backgroundColor='white';this.style.color='#E363AA';"
  >
    Buscar
  </button>
</form>
