<nav
  class="navbar navbar-expand-md navbar-light"
  style="border-bottom: 1px solid #cccccc"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Guia de Perguntas</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Outros itens do menu podem ficar aqui -->
      </ul>
      <form class="d-flex" role="search" action="/" method="get">
        <input
          class="form-control me-2"
          type="search"
          name="search"
          placeholder="Pesquisa"
          aria-label="Pesquisa"
          value="<%= typeof search !== 'undefined' ? search : '' %>"
        />
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
    <a href="/q/ask" class="btn btn-primary ms-2">Perguntar</a>

     <% if (typeof user !== 'undefined' && user !== null) { %>
    <div class="dropdown ms-2">
      <a
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        href="#"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
         <strong>@<%= user.username %></strong>
      </a>

      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/auth/logout">Sair</a></li>
      </ul>
  </div>
  <% } else { %>
  <a href="/auth/login" class="btn btn-primary ms-2">Logar</a>
  <% } %>
</nav>
